auth_enabled: false  # отключаем авторизацию для простоты, в продакшн включать

server:
  http_listen_port: 3100
  log_level: info
#  grpc_listen_port: 9095

ingester:
  lifecycler:
#    address: 127.0.0.1
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1
  chunk_idle_period: 5m
  chunk_block_size: 262144
  max_transfer_retries: 0

schema_config:
  configs:
    - from: 2020-10-24
      store: boltdb-shipper
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 24h

storage_config:
  boltdb_shipper:
    active_index_directory: /loki/index
    cache_location: /loki/cache
    shared_store: filesystem
  filesystem:
    directory: /loki/chunks

limits_config:
#  enforce_metric_name: false
#  reject_old_samples: true
  reject_old_samples_max_age: 168h

#chunk_target_size: 1048576
table_manager:
  retention_deletes_enabled: true
  retention_period: 168h

query_scheduler:
  max_outstanding_requests_per_tenant: 2048

common:
    path_prefix: /loki/tmp
